<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Edward Cen" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Roboto font -->
   <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet">

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/" onclick="return false">Edward Cen</a>
    <a class="extra" href="/">home</a>
    <a class="extra" href="/about.html">about</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Edward Cen
        <br />
        [first][last]@[university].edu
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/edwardcen/">github.com/edwardcen</a><br />
        <a href="http://linkedin.com/in/edwardcen/">linkedin.com/in/edwardcen</a><br />
      </p>
    </div>
  </div>
</div>

</body>
</html>
